<div class="vista">
    <h1>Funcionamiento</h1>
    <p>
        Este módulo está orientado a trabajar con las facturas y los pagos realizados a cada una de ellas.
    </p>
    <div>
        <h2>Inicio</h2>
        <p>Es la sección en la que se introduce al funcionamiento de todo el modulo</p>
    </div>
    <div>
        <h2>Facturas</h2>
        <p>Es la sección en la que se trabaja con as facturas.</p>
        <ol>
            <li>
                Boton: Cargar:
                <p>
                    Abre una nueva ventana en la cual se puede introducir el nombre del nuevo servicio a cargar.
                </p>
            </li>
            <li>
                Opciones: En renglon:
                <p>
                    Permiten trabajar sobre la factura seleccionada. En el caso de editar, se abrirá una ventana de
                    dialogo
                    en la cual se puede editar el nombre de la factura. En el caso de eliminar, se mostrará una ventana
                    de
                    alerta en la que preguntará si se está seguro proseguir con la eliminación de la factura.
                </p>
            </li>
        </ol>
    </div>
    <div>
        <h2>Facturas</h2>
        <p>Es la sección en la que se trabaja con los facturas.</p>
        <ol>
            <li>
                Boton: Crear:
                <p>
                    Abre una nueva ventana en la cual se puede introducir el nombre del nuevo servicio a crear.
                </p>
            </li>
            <li>
                Opciones: En renglon:
                <p>
                    Permiten trabajar sobre la factura seleccionada. En el caso de editar, se abrirá una ventana de
                    dialogo
                    en la cual se puede editar el nombre de la factura. En el caso de eliminar, se mostrará una ventana
                    de
                    alerta en la que preguntará si se está seguro proseguir con la eliminación de la factura.
                </p>
            </li>
        </ol>
    </div>
    <div>
        <h2>Pagos</h2>
        <p>Es la sección en la que se trabaja con los pagos.</p>
        <ol>
            <li>
                Boton: Cargar:
                <p>
                    Abre una nueva ventana en la cual se puede introducir los parametros necesarios de un pago. los
                    cuales son:
                </p>
                <ol>
                    <li>Factura</li>
                    <li>Pago</li>
                    <li>Fecha de Pago</li>
                </ol>
            </li>
            <li>
                Opciones: En renglon:
                <p>
                    Permiten trabajar sobre la factura seleccionada. En el caso de editar, se abrirá una ventana de
                    dialogo
                    en la cual se puede editar el nombre de la factura. En el caso de eliminar, se mostrará una ventana
                    de
                    alerta en la que preguntará si se está seguro proseguir con la eliminación de la factura.
                </p>
            </li>
        </ol>
    </div>
    <div>
        <h2>Resumen</h2>
        <p>Es la sección en la que se trabaja con las facturas y pagos realizados entorno a una fecha específica. De
            manera automática, la fecha elegida será la del dia de ejecución</p>
        <p>En esta vísta se puede encontrar los siguientes elementos:</p>
        <ol>
            <li>
                Tabla de Facturas Cargadas:
                <p>
                    Contiene las facturas que fueron cargadas en el mes y año elegido
                </p>
            </li>
            <li>
                Tabla de Facturas Faltantes:
                <p>
                    Contiene las facturas que no fueron cargadas en el año y mes elegido
                </p>
            </li>
            <li>
                Tabla de Pagos Cargados:
                <p>
                    Contiene los pagos que fueron cargados en el mes y año elegido
                </p>
            </li>
        </ol>
    </div>
</div>