/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    width: 100%;
  }

 



.example-spacer {
    flex: 1 1 auto;
  }


.vista{
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
}

.formulario{
    mat-form-field{
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.botoneras{
    button{
        margin-left: 3px;
        margin-right: 3px;
    }
}
